FLASK_PORT=8483
FLASK_DEBUG=true
INDEX_DIR=../data/index
LOG_DIR=../data/logs
STATS_DIR=../data/stats
FILES_ROOT_DIR=../sample_files
JIEBA_DICT_PATH=./extract/custom_dict.txt
OCR_LANG=chi_sim+eng
OCR_ENABLED=true
CORS_ORIGIN=http://localhost:3483,http://localhost:3484,http://127.0.0.1:3483,http://127.0.0.1:3484